var config  = {};

config.path = {};
config.styles = {};


config.path.src = './src/';
config.path.tmp = './.tmp/';
config.path.dist = './dist/'

config.path.client = config.path.src + 'client/';

config.path.allHtml = 	config.path.client + '**/*.html';
config.path.allJS = 	config.path.client + '**/*.js';
config.path.allTS = 	config.path.client + '**/*.ts';
config.path.allTSD =	'typings/**/*.ts'


config.path.allSCSS = 	config.path.client + '**/*.scss';
config.path.allStyles = [config.path.src + '*.scss', config.path.src + 'styles/**/*.css'];
config.path.styles =	config.path.client + 'app.scss'


config.path.scripts = './scripts/vendors/*.js';

config.path.app =	config.path.client + 'app/';
config.path.appMain =	config.path.client + 'index.html';


config.path.server = config.path.src + 'server/app.js';



config.styles.AUTOPREFIX = [
	    'ie >= 10',
	    'ie_mob >= 10',
	    'ff >= 30',
	    'chrome >= 34',
	    'safari >= 7',
	    'opera >= 23',
	    'ios >= 7',
	    'android >= 4.4',
	    'bb >= 10'
	  ]

module.exports = config;